@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');


/* The Modal (background) */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
	/* color: #c4c3ca; */
	background-color: #1f2029;
  
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  align-items: center;
  /* min-height: 100vh; */

}
a {
	cursor: pointer;
  transition: all 200ms linear;
}
a:hover {
	text-decoration: none;
}
.link {
  color: #c4c3ca;
}
.link:hover {
  color: #ffeba7;
}
p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
}
h4 {
  font-weight: 600;
}
h6 span{
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 700;
}
.section{
  position: relative;
  width: 100%;
  display: block;
  background-color: #2c3333;
}

.full-height{
  min-height: 100vh;
}

header {
  display: flex;
  font-size: large;
  justify-content: center;
  align-items: center;
}




.btn{  
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition : all 200ms linear;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #ffeba7;
  color: #102770;
  box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
}

.btn:active,
.btn:focus{  
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}
.btn:hover{  
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}


.logo {
	position: absolute;
	top: 30px;
	right: 30px;
	display: block;
	z-index: 100;
	transition: all 250ms linear;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
}


.sidebar{
  height: 130vh;
  width: 60px;
  background-color: #16191e;
  transition: width 0.3s;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0; 
}

.sidebar:hover{
  width: 200px;
  overflow: visible;
}

nav {
  height: 60vh;
  min-height: 300px;

}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

li a {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  padding: 10px 0;
  color: #cacaca;

}

li a:hover{
  background-image: linear-gradient(
    left,
    #2aB8e6 7px,
    rgba(255,255,255,0.1)
    7px);
    background-image: linear-gradient(
    to right,
    #2aB8e6 7px,
    rgba(255,255,255,0.1) 7px);
    color: #ffffff;

}

i.fas{
  font-size: 18px;
  text-align: right;
  color: white;

}

li p{  
  width: 75px;
  font-size: 14px;
  text-align: left;  
  letter-spacing: 0.3px;
  font-weight: 200;
}

.encabezado {
  background-color: #395b64;
  color: #e7f6f2;

}

#btnNuevo {
  background-color: #A5C9CA;
  /* float: right; */
  height: 25px;
  /* width: 150px; */
  cursor : hand;
  
}

#btnBuscar {
  background-color: #A5C9CA;
  /* float: left; */
  height: 25px;
  /* width: 150px; */
  cursor : hand;
  
}

#txtBuscar {
  /* background-color: #A5C9CA; */
  /* float: right; */
  height: 25px;
  width: 550px;
  cursor : hand;
  
}



.boton {
  background-color: #A5C9CA;
  float: right;
  height: 35px;
  width: 150px;
  cursor : hand;
  
}


.boton:hover{
  background-color: rgb(2, 76, 12);
  color: white;
}

#btnNuevo:hover{
  background-color: rgb(2, 76, 12);
  color: white;
}





th {
  flex: 1 1 20%;
  text-align: center;
}



.modal {
  
  display: none;
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
}

.modal h2{
  background-color: #395b64;
}


.form{
  
  
  margin: auto;
  width: 90%;
  max-width: 400px;
  padding: 4.5em 3em;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
}

.form_title{
  font-size: 2rem;
  margin-bottom: .5em;
  
}

.form__group{
  position: relative;
  --color: #5757577e;
}

.form__container{
  margin-top: 3em;
  display: grid;
  gap: 2.5em;
}

.container {
 
  width: 65%;
  /* Full width */
  height: 65%;
  /* Full height */
  background: #eee;
  box-shadow: 0 8px 8px -4px #A5C9CA;
  
  

  




}

.form__input{
  width: 100%;
  background: none;
  color: #706c6c;
  font-size: 1rem;
  padding: .6em .3em;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color);
}


.form__input:not(:placeholder-shown){
  color: #4d4646;
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label{
  transform: translateY(-12px) scale(.7);
  transform-origin: left top;
  color: #3866f2;
}

.form__label{
  color: var(--color);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(10px);
  transition: transform .5s, color .3s;
}

.form__line{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #3866f2;
  transform: scale(0);
  transform: left bottom;
  transition: transform .4s;
}

.form__input:focus ~ .form__line,
.form__input:not(:placeholder-shown) ~ .form__line{
  transform: scale(1);
}

@media (max-width:650px) {
  .form__title{
    font-size: 1.8rem;   
  }

  #tabla th{
    display: none;
  }
  #tabla td{
    display: block;
    padding: 0.5rem 1rem;
  }

  #tabla td:first-child{
    padding-top: 2rem;
  }

  #tabla td:last-child{
    padding-bottom: 2rem;
  }

  #tabla td::before{
    content: attr(data-cell) ": ";
    font-weight: 700;
    text-transform: capitalize;
  }
 
}



/* The Close Button */
.cierre {
  background-color: #395b64;
  color: #e7f6f2;
  float: right;
  font-size: 18px;
  font-weight:bolder;
  
  

}

.cierre:hover,
.cierre:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#tabla {
  
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;

}


#tabla td,
#tabla th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
  text-align: center;
  
 

}



#tabla tbody td {
  font-size: 13px;
}

#tabla tr:nth-child(even) {
  background: #A5C9CA;
}

#tabla thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}

#tabla thead th {
  font-size: 13px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}

#tabla thead th:first-child {
  border-left: none;
}

#tabla tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444444;
}

#tabla tfoot td {
  font-size: 14px;
}

#tabla tfoot .links {
  text-align: right;
}

#tabla tfoot .links a {
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}


.popup{  
  background-color: #ffffff;
  width: 450px;
  padding: 0px 0px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
}

.popup button{
  display: block;
  margin: 0 0 20px auto;
  background-color: transparent;
  font-size: 30px;
  color: #c5c5c5;
  border:none;
  outline: none;
  cursor: pointer;
}

.popup h2{
  display: block;
  margin: 0 0 20px auto;
  background-color: blue;
  font-size: 30px;
  color: #c5c5c5;
  border:none;
  outline: none;
  cursor: pointer;
}

.popup p{
  font-size: 14px;
  text-align: justify;
  margin: 20px 0;
}

.popup a{  
  display: inline-block;
  width: 150px;
  position: relative;
  margin:0 auto;  
  text-align: center;
  background-color: #0f72e5;
  color: #ffffff;
  text-decoration: none;
  padding: 5px 0;


}


/* Popup de mensajes de Alerta, Error y Avisos */

.mensaje{  
   display: none; 
  background-color: #ffffff;
  width: 450px;
  padding: 0px 0px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
}

.mensaje button{
  display: block;
  margin: 0 0 20px auto;
  background-color: transparent;
  font-size: 30px;
  color: #c5c5c5;
  border:none;
  outline: none;
  cursor: pointer;
  
}

.mensaje h2{
  display: block;
  margin: 0 0 20px auto;
  background-color: blue;
  font-size: 30px;
  color: #c5c5c5;
  border:none;
  outline: none;
  cursor: pointer;
}

.mensaje p{
  font-size: 14px;
  text-align: justify;
  margin: 20px 0;
}

.mensaje a{
  display: block;
  width: 150px;
  position: relative;
  margin: auto;
  text-align: center;
  background-color: green;
  color: #ffffff;
  text-decoration: none;
  padding: 5px 0;


}



